<form  action="/admin_add_manager" method="post" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Add Manager</h3>
  </div>
  <table height="127" align="center">
    <tr>
      <td>Name</td>
      <td><input name="name" type="text" id="name"   required="" /></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><input name="contact" type="number" id="contact"   required="" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input name="email" type="email" id="email"   required="" /></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input name="address" type="text" id="address"  required="" /></td>
    </tr>
    <tr>
      <td>UserName</td>
      <td><input name="username" type="text" id="username"  required="" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input name="password" type="password" id="password"   required="" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="tp">
        <input type="submit" name="btn" value="Login" />
      </span></td>
    </tr>
  </table>
</form>
 