<form  action="/bank_login" method="post" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Bank Login</h3>
  </div>
  <table height="127" align="center">
    <tr>
      <td>Username </td>
      <td><input type="text" name="uname" placeholder="Username" required="" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="pass" placeholder="Password" required="" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td> 
        <input type="submit" name="btn" value="Login" />       </td>
    </tr>
  </table>
</form>
 