                <li class="mr-lg-3 mr-2 "><a href="/">Home</a></li>
                <li class="mr-lg-3 mr-2"><a href="/admin">Admin</a></li>
               
                <li class="mr-lg-3 mr-2 pb-0">
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Bank <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                <a href="#">Bank</a>
                <input type="checkbox" id="drop-2"/>
                <ul class="drop-down-ul">
                    <li><a href="/bank_login">Login</a></li>
                    <li><a href="/bank_register">Register</a></li>
                </ul>
                </li>
                <li class="mr-lg-3 mr-2 pb-0">
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Client <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                <a href="#">Client</a>
                <input type="checkbox" id="drop-2"/>
                <ul class="drop-down-ul">
                    <li><a href="/user_login">Login</a></li>
                    <li><a href="/user_register">Register</a></li>
                </ul>
                </li>