<form  action="/user_register" method="post" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">User Register </h3>
  </div>
  <table height="127" align="center">
    <tr>
      <td>Name</td>
      <td><input name="name" type="text" id="name"   required="" /></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><input name="contact" type="number" id="contact"   required="" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input name="email" type="email" id="email"   required="" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td> 
        <select name="select">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input name="address" type="text" id="address"  required="" /></td>
    </tr>
    <tr>
      <td>UserName</td>
      <td><input name="username" type="text" id="username"  required="" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input name="password" type="password" id="password"   required="" /></td>
    </tr>
    <tr>
      <td>Aadhar Number </td>
      <td><input name="aadhar_number" type="text" id="aadhar_number"   required="" /></td>
    </tr>
    <tr>
      <td>PAN Number </td>
      <td><input name="pan_number" type="text" id="pan_number"   required="" /></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input name="city" type="text" id="city"   required="" /></td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td><input name="pincode" type="text" id="pincode"   required="" /></td>
    </tr>
    <tr>
      <td>State</td>
      <td><input name="state" type="text" id="state"   required="" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="tp">
        <input type="submit" name="btn" value="Register" />
      </span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
 