                <li class="mr-lg-3 mr-2 "><a href="/user_home">Home</a></li>
                <li class="mr-lg-3 mr-2"><a href="/user_create_account">Create Account</a></li>
               
                <li class="mr-lg-3 mr-2 pb-0">
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Bank <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                <a href="#">Banking</a>
                <input type="checkbox" id="drop-2"/>
                <ul class="drop-down-ul">
                    <li><a href="/user_deposit">Deposit</a></li>
                    <li><a href="/user_withdraw">Withdraw</a></li>
                    <li><a href="/user_transcation">Transaction</a></li>
                    <li><a href="/user_received">Received</a></li>
                    <li><a href="/user_mini_statement">Mini Statement</a></li>
                </ul>
                </li>
               <li class="mr-lg-3 mr-2"><a href="/">Logout</a></li>