<form  action="/user_key_verification" method="post" name="form1" id="form1">
<div class="title-content text-center">
          
          <h3 align="center" class="title-w3l mb-sm-3 text-center">Key Verification</h3>
  </div>
  <table height="127" align="center">
    <tr>
      <td>Key </td>
      <td><input type="text" name="uname"   required="" /></td>
    </tr>
   
    <tr>
      <td>&nbsp;</td>
      <td> 
        <input type="submit" name="btn" value="Verify" />       </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input name="lat" type="hidden" id="lat" />
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="lon" type="hidden" id="lon" /></td>
    </tr>
  </table>
</form>
 