<!DOCTYPE html>
<html lang="en">
<head>
<title>Blackchain Banking</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Wedding Organizer web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
     <style>
	
 {% include 'styles/bootstrap.css' %}
 {% include 'styles/style.css' %}
 {% include 'styles/font-awesome.min.css' %}
	</style> 
	<!-- css files -->
	 
	<!--web font-->
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet"`


	<!--//web font-->

</head>

<body>


<!-- header -->
<header>
	<div class="container">
		<!-- top header -->
		<section class="row top_header pt-3">
			<div class="col-lg-6 buttons ml-auto">
				 
			 
			</div>
		</section>
		<!-- top header -->
		<!-- nav -->
		<nav class="py-3">
        <div id="logo">
			<h1>
				<a class="navbar-brand" href="#">Blockchain <span><span class="line"></span>Banking</span>
				</a>
			</h1>
		</div>

        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
{% include 'master_html/main_menu.html' %}
            </ul>
        </nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->


<!-- banner -->
<section class="banner layer" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info mb-4">
				<div class="banner-heading">
					<h3>
						BLOCKCHAIN BANKING
					</h3>
				</div>
				<a href="#">Information</a>
			</div>
			<!-- To bottom button-->
			<div class="thim-click-to-bottom">
				<div class="rotate">
					 
				</div>
			</div>
			<!-- //To bottom button-->

		</div>
	</div>
</section>

<footer>
  <div class="copyright pb-5 text-center">
		<p>All Rights Reserved | Design by <a href="#">Admin</a></p>
  </div>
</footer>

</body>
</html>